body {
    background-color: lavender;
}

header {
    background-color: darkorchid;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn.btn-primary {
    background-color: darkviolet;
    color: white;
    border: 1px solid darkviolet;
}

.btn.btn-primary:hover {
    background-color: purple;
    color: white;
    border: 1px solid purple;
}

table {
    background-color: white;
}

th {
    background-color: purple;
    color: white;
}

td {
    color: darkslateblue;
}

tr:hover td {
    background-color: darkmagenta;
    color: white;
}